<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite">
  <test verbose="2" name="Login functionality testing">
  
   <listeners>
		<listener class-name="com.companyName.projectName.customListeners.Listener" />
	</listeners>
   
    <classes>
      <class name="com.companyName.projectName.testCases.TC001_Create_an_Account"/>
      <class name="com.companyName.projectName.testCases.TC002_Create_an_Account"/>
      <class name="com.companyName.projectName.testCases.TC003_Create_an_Account"/>
      <class name="com.companyName.projectName.testCases.TC004_Create_an_Account"/>
      <class name="com.companyName.projectName.testCases.TC005_Create_an_Account"/>
    </classes>
  
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
